#sidebar {
    background: #414141;
    color: #fff;
    transition: all 0.3s;
}
#sidebar .sidebar-header {
    padding: 20px;
    background: #414141;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #414141;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
}
#sidebar ul li a:hover {
    color: #414141;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #414141;
}
        .wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
    .wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#fuk {
        padding: 50px;
        margin: 50px;
  margin-top: 0px;
        float: left;
        width: 1250px;
    }

#fuk2 {
      position: absolute;
  top: 70px;
  left: 680px;
    }